.footer{display:none}
.admin-log-main button{background: #fff!important;
    color: #000 !important;
    width: 400px;
    max-width: 400px;
    min-width: min-content;
    font-weight: 500;
    font-size: 16px;
}
.admin-log-main button img {
    max-width: 25px;
}

    .nifd-login{    background: #fff!important;
        color: #000!important;
        width: 400px;
        max-width: 400px;
        min-width: min-content;
        font-weight: 500;

    }
    @media (max-width: 576px) { /* Bootstrap mobile breakpoint */
        .text-pnl {
          text-align: center; /* Ensure the text is centered */
          padding-left: 0 !important; /* Remove unnecessary padding */
          padding-right: 0 !important; /* Remove unnecessary padding */
        }
      
        .btn {
          width: 100%; /* Make buttons full width */
          margin-left: 0; /* Ensure there's no extra margin */
          margin-right: 0; /* Ensure there's no extra margin */
        }
      
        .text-pnl h1,
        .text-pnl h2,
        .text-pnl p {
          margin-left: auto;
          margin-right: auto;
        }
      }
.logo {
  margin-bottom: 10px; /* Reduce space below the logo */
}

.text-pnl {
  margin-top: 10px; /* Reduce space above the text */
}

@media (max-width: 576px) { /* For mobile view */
  .logo {
    margin-bottom: 5px; /* Smaller spacing on mobile */
  }

  .text-pnl {
    margin-top: 5px; /* Smaller spacing on mobile */
  }
}
      
.side-btnlist{display:none}     
.navbar-inner{display:none}